@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.adminNav{
    background-color: rgb(217, 236, 238);
    height: 64px;
    margin-top: 10px;
    background-attachment: fixed;
    box-shadow: 0px 1px 10px 5px rgba(0,0,0,0.22);
}
.navbar{
    display: flex;
}

        /* TITLE */
.title{
    margin-left: 50px;
}
.title>h2{
    color: blueviolet;
    font-family: 'Seymour One', sans-serif;
}

        /* LINKS */


.links{ 
    display: inline;
    margin: auto 0 auto 300px;
    width: 650px;  
}

.link{
    text-decoration: none;
    margin-left: 10px;
    color: rgb(255, 0, 0);
    font-size: 22px;
    padding: 5px 8px;
    border-radius: 15px;
    font-family: 'Dancing Script', cursive;
    transition: .5s;
}

.link:hover{
    background-color: rgba(255, 0, 255, 0.699);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

